*{
    padding: 0;margin: 0;box-sizing: border-box;
}
body{
  height: 100vh;
  background-image: linear-gradient(145deg,rgb(201, 201, 248),rgb(230, 249, 230));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#cartoons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1280px;
    margin: auto;
    gap: 20px;
}
.cartoon{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 5px 10px 50px gray;
    background-color: white;
    border-radius: 20px
}
.cartoon img{
    /* height: 100%;
    width: 100%;
    object-fit: contain; */
    height: 200px;
}





