*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;justify-content: center;
    align-items: center;
    background-image: linear-gradient(145deg,orange,green);
}
.form{
    padding: 30px;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}
.pwd{
    display: flex;
    border: 1px solid black;
}
.pwd>input{
    border: none;
}
input
{
    width: 100%;
}
.error{
    color: red;
}